.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
}

.container {
    text-align: center;
}
#input-fields {
    display: flex;
    padding: 0 15em;
}
#user-input {
    justify-content: space-between;
    margin-left: 0;
}

body {
    font-family: 'Handlee', cursive;
}

#mood {
    display: flex;
    flex-direction: column;
}

#horoscope {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}


#save {
    margin: 20px auto;
    float:left;
}

.preloader-position-wrapper {
    text-align: center;
}

.hidden {
    display: none;
}