:root {
    background-color: #5e35b1;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
}

.logo-image {
    width: 50%
}

.container {
    text-align: center;
}

#input-fields {
    display: flex;
    padding: 0 20em;
}
#user-input {
    justify-content: space-between;
    margin-left: 0;
}

body {
    font-family: 'Zen Loop', cursive;;
}

#mood {
    display: flex;
    flex-direction: column;
}

#horoscope {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

#save {
    margin: 20px auto;
}